<!DOCTYPE html>
<html layout:decorate="layout" xmlns:th="https://thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Ajouter commande</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="d-flex justify-content-center">
			<div class="container mx-5">
				<h3>Erreur lors de la suppression de cette catégorie.</h3>
				<h3>Pour la supprimer, vous devez d'abord supprimer tout les articles faisant parties de cette
					catégorie.
				</h3>
				<button onclick="rtn()">Retour à la page précédente</button>
			</div>
		</div>
	</div>
</body>

</html>