
/*
https://colorhunt.co/palette/e6ba95fafdd6e4e9bea2b38b
*/
:root {
	--couleur1: #E6BA95; /* couleur la moins claire */
	--couleur2: #A2B38B;
	--couleur3: #E4E9BE;
    --couleur4: #FAFDD6; /* couleur la plus claire */
    
}