<!DOCTYPE html>
<html layout:decorate="layout" xmlns:th="https://thymeleaf.org"
	xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Afficher articles</title>
	<script type="text/javascript">
		$(document).ready(function () {
			mettreEnFormeTable();
		});
	</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="d-flex justify-content-center">
			<div class="container mx-5">
				<div class="container">
					<div class="row my-2">
						<div class="container">
							<h3>Afficher les articles</h3>
						</div>
					</div>

					<div class="row my-2">
						<div class="container">
							<a th:href="@{/projetv4/articles/formAddArticle}" class="btn btn-sm float-end">Créer un
								article</a>
						</div>
					</div>

					<div class="row my-2 row-myTable">
						<table id="myTable">
							<thead>
								<tr>
									<th>ID</th>
									<th>Catégorie</th>
									<th>Dénomination</th>
									<th>Prix</th>
									<th>Stock</th>
									<th>Actif</th>
									<th>Supprimer</th>
									<th>Modifier</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="article : ${showArticles}">
									<td th:text="${article.id}"></td>
									<td th:text="${article.categorie.nom}"></td>
									<td th:text="${article.denomination}"></td>
									<td th:text="${article.prix}"></td>
									<td th:text="${article.stock}"></td>
									<td th:text="${article.actif}"></td>
									<td>
										<a th:attr="onclick=|msgConfirmationSupprimer('/projetv4/articles/deleteArticle/', ${article.id})|"
											class="btn btn-sm">Supprimer</a>
									</td>
									<td>
										<a th:href="@{'/projetv4/articles/formModifyArticle/' + ${article.id}}"
											class="btn btn-sm">Modifier</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>